<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Everybody Writes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
</head>
<body>

  <main class="d-flex">
    <form id="joinRoomForm" class="mx-auto my-5">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Everybody Writes</h4>
        <p class="mb-0">Please enter the room you wish to join</p>
      </div>
      <div class="input-group input-group-lg">
        <input id="joinRoomInput" type="text" class="form-control" placeholder="room-name">
        <span class="input-group-btn">
          <button class="btn btn-success">Enter Room</button>
        </span>
      </div>
    </form>
  </main>

  <script>
    let joinRoomInput = document.querySelector('#joinRoomInput')
    if (joinRoomInput) {
      joinRoomInput.focus()
    }

    let joinRoomForm = document.querySelector('#joinRoomForm')
    if (joinRoomForm) {
      joinRoomForm.addEventListener('submit', (event) => {
        event.preventDefault()
        window.location.href = '/rooms/' + joinRoomInput.value
      })
    }
  </script>
</body>
</html>
