<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ room }} - Everybody Writes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
</head>
<body>

  <main class="d-flex">
    <h1>{{ room }} <small class="text-muted">(room)</small></h1>
    <form id="joinRoomWithNameForm" class="mx-auto my-5">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Please enter your name</h4>
      </div>
      <div class="input-group input-group-lg">
        <input id="studentName" type="text" class="form-control" placeholder="John Smith">
        <span class="input-group-btn">
          <button class="btn btn-success">Enter Room</button>
        </span>
      </div>
    </form>
  </main>

  <script>var ROOM = '{{ room }}'</script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/everybody-writes.js"></script>
</body>
</html>
