<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ room }} - Everybody Writes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
</head>
<body>

  <main class="d-flex">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          {{ room }}
        </div>
      </div>
    </div>
  </main>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/everybody-writes.js"></script>
</body>
</html>
