<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ room }} - Everybody Writes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
</head>
<body>

  <header>
    <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
      <a class="navbar-brand" href="/rooms/{{room}}">{{ room }} <small class="text-muted">(room)</small></a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li> -->
        </ul>
      </div>
    </nav>
  </header>


  <main class="d-flex">
    <form id="joinRoomWithNameForm" class="mx-auto my-5">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading text-center">Please enter your name</h4>
      </div>
      <div class="input-group input-group-lg">
        <input id="studentName" type="text" class="form-control" placeholder="John Smith">
        <span class="input-group-btn">
          <button class="btn btn-success">Enter Room</button>
        </span>
      </div>
    </form>

    <div id="app">

    </div>
  </main>

  <script type="text/template" id="usersTemplate">
    <nav class="navbar navbar-inverse bg-inverse">
      <h2 class="navbar-brand text-uppercase">Users <small class="badge badge-pill badge-default">{userCount}</small></h2>
      <div class="navbar-nav">
        {users}
      </div>
    </nav>
  </script>

  <script>let ROOM = '{{ room }}'</script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/everybody-writes.js"></script>
</body>
</html>
